body,
html {
  margin: 0;
  padding: 0;
  max-width: 630px;
  max-height: 688px;
}

* {
  box-sizing: border-box;
}
/* on voit bien les éléments qui sont focus
*:focus {
  box-shadow: 0 0 10px blue;
}*/

.modal1 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vm - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
}

.js-modal-close {
  border: none;
  background-color: #fff;
  font-size: larger;
}
.close-cross {
  display: flex;
  justify-content: flex-end;
  font-size: larger;
}

#title-modal1 {
  display: flex;
  justify-content: center;
  font-family: Work Sans;
  font-weight: lighter;
}

.ajout-photo {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 60px;
  padding: 7px 25px 7px 25px;
  background-color: #1d6154;
  color: white;
  font-family: Syne;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 120px;
  margin-right: 130px;
}

.before {
  content: "";
  width: 50px;
  height: 2px;
  display: flex;
  background-color: #99e2d0;
  margin-bottom: 5px;
  padding-bottom: 50px;
}
a {
  text-decoration: none;
}

i.fa-regular.fa-image {
  display: flex;
  font-size: xxx-large;
  color: #b8b8b8;
  justify-content: center;
}

#title-modal2 {
  display: flex;
  justify-content: center;
  font-family: Work Sans;
  font-weight: lighter;
}

/*a finir*/
.rajout-photo {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 60px;
  padding: 7px 25px 7px 25px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 120px;
  margin-right: 130px;
}

.jpg {
  display: flex;
  justify-content: center;
}
