html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* on voit bien les éléments qui sont focus
*:focus {
  box-shadow: 0 0 10px blue;
}*/

.modal1 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#modale2 {
  background-color: #ffffff;
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vm - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-wrapper i::before {
  color: #000000;
}

.js-modal-close {
  border: none;
  background-color: #fff;
  font-size: larger;
}

.close-cross {
  display: flex;
  justify-content: flex-end;
  font-size: larger;
}

.js-modal-close i.fa-xmark {
  color: #000000;
  font-weight: bold;
  padding-right: 0;
}

.close-cross .js-modal-close {
  background-color: #ffffff;
}

.arrow i.fa-arrow-left {
  font-weight: bold;
  font-size: x-large;
}

#title-modal1,
#title-modal2 {
  display: flex;
  justify-content: center;
  font-size: x-large;
  padding-bottom: 40px;
}

.ajout-photo {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 60px;
  padding: 7px 25px 7px 25px;
  background-color: #1d6154;
  color: white;
  font-family: Syne;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 120px;
  margin-right: 130px;
}

.before {
  content: "";
  width: 50px;
  height: 2px;
  display: flex;
  background-color: #99e2d0;
  margin-bottom: 5px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}

i.fa-regular.fa-image {
  display: flex;
  font-size: xxx-large;
  color: #c5c3c3;
  justify-content: center;
}

.rajout-photo {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  font-size: 18px;
  border-radius: 60px;
  padding: 7px 25px 7px 25px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 120px;
  margin-right: 130px;
  color: #306685;
}

.jpg {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: small;
}

.fond-bleu {
  background-color: #e8f1f6;
  padding-top: 25px;
  padding-bottom: 15px;
  box-shadow: rgba(13, 14, 15, 0.23) 0px 6px 10px;
  margin-bottom: 50px;
}

.titre,
.categorie {
  border: none;
  box-shadow: rgba(16, 17, 19, 0.23) 0px 3px 10px;
  margin-bottom: 30px;
  font-family: Work Sans;
  width: 100%;
  height: 50px;
}

.main-title {
  margin-bottom: 15px;
}

.validation {
  display: flex;
  justify-content: center;
  background-color: #a7a7a7;
  font-size: 18px;
  border-radius: 60px;
  padding: 10px 0px 10px 0px;
  color: white;
  font-family: Syne;
  font-size: small;
  margin: 50px 160px 0px 150px;
}

.inactive {
  display: none;
}

.gallery-modale {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-modale figure {
  width: 18%;
}

.gallery-modale img {
  width: 100%;
}
